@font-face {
    font-family: 'CormorantSC';
    src: url('./fonts/CormorantSC-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantSC';
    src: url('./fonts/CormorantSC-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: light;
    font-display: swap;
}



:root {
    --color-darck: #031412;
    --color-light: #fff;
    --color-accent: #E4A16F;
    --color-red: #9B0000;

    --border: 1px solid var(--color-light);

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'CormorantSC', sans-serif;

    --container-width: 1400px;
    --container-padding-x: 260px;

    --transition-duration: 0.2s;

    --header-height: 95px;
}

@media (max-width: 1600px) {
    :root {
        --container-padding-x: 100px;
    }
}

@media (max-width: 1200px) {
    :root {
        --container-padding-x: 50px;
    }

    .header__logo-img {
        width: 160px;
        height: 43px;
    }
}

@media (max-width: 1000px) {
    :root {
        --container-padding-x: 20px;
    }
}

@media (max-width: 768px) {
    :root {
        --container-padding-x: 20px;
    }
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

a img {
    display: block;
    width: 100%;
    height: auto;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
}

.container {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
}

.header__logo-img {
    margin-top: -12px;
}

.container-logo-nav {
    display: flex;
    gap: 77px;
}

.header__menu {
    transition: transform 0.3s ease-in-out;
}

.header__menu.open {
    transform: translateX(0);
}

.nav__burger-bg {
    display: none;
}


.header__menu-list {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 7px;
    width: 570px;
}

.header__menu-link {
    position: relative;
    transition-duration: 0.2 ease;
    padding: 10px 0;
}

.header__menu-link:hover {
    color: var(--color-accent);
}


.header__menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

.header__menu-link:hover::after {
    transform: scaleX(1);
}

.header__interaction {
    position: absolute;
    top: 0;
    right: 0;
}

.header__interaction-item {
    background-color: var(--color-light);
    padding: 45px 10px 13px 10px;
}

.header__menu-link {
    color: var(--color-light);
}

.header__interaction-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    padding-right: var(--container-padding-x);
}

.burger-area {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 50px;
    height: 35.5px;
    background-color: var(--color-accent);
}

.burger {
    position: relative;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 10px;
    width: 20px;
    height: 16px;
    cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
    position: absolute;
    justify-content: center;
    height: 3px;
    width: 20px;
    background-color: var(--color-light);
    transition: all 0.3s ease;
}

.burger span {
    top: 50%;
    transform: translateY(-50%);
}


.burger::before {
    content: '';
    top: 0;
}

.burger::after {
    content: '';
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}

.slider {
    width: 100%;
    height: auto;
    position: relative;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide__img-bg {
    width: 100%;
    min-height: 896px;
    object-fit: cover;
}

.slider__body {
    position: absolute;
    top: 200px;
    left: var(--container-padding-x);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    color: var(--color-light);
    text-align: left;
    max-width: 737px;
    height: 430px;
}

.slider__big-text {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 100px;
    line-height: 1;
}

.slider-bottom-line {
    margin-bottom: 10px;
}

.slider__title {
    font-size: 50px;
    text-transform: none;
    max-width: 533px;
    line-height: 1;
}

.slider__price-body {
    display: flex;
    gap: 110px;
    font-size: 30px;
}

.slider__price-text {
    font-weight: 300;
}

.slider__price {
    font-weight: 700;
}

.slider__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    border: 0px;
    border-radius: 0px;
    width: 327px;
    height: 50px;
    font-family: var(--font-family-base);
    font-size: 18px;
    font-weight: 700;
    background: url('./images/color-button.jpg');
    padding: 16px 0 16px;
    box-shadow: 0 3px 4px rgba(5, 4, 8, 0.5);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.slider__button:hover {
    opacity: 0.8;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-light);
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

.swiper-pagination {
    display: flex;
    justify-content: start;
    position: absolute;
    bottom: 140px !important;
    left: var(--container-padding-x) !important;
    right: 0;
    z-index: 3;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: var(--color-light) !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    transition: background-color 0.2s ease !important;
    background: url('./images/color-bullet-pagination-inactive.jpg') !important;
    z-index: 4;
}

.swiper-pagination-bullet-active {
    background: url('./images/color-bullet-pagination.jpg') !important;
    box-shadow: 0 3px 4px rgba(5, 4, 8, 0.5);
    z-index: 5;
}

.swiper-arrow {
    position: relative;
    color: var(--color-light) !important;
    border-radius: 0 !important;
    width: 18px !important;
    height: 20px !important;
    padding: 11px 30px 11px 40px !important;
    transition: all 0.2s ease;
}

.swiper-arrow:hover .arrow-border-p,
.swiper-arrow:hover .arrow-border-n {
    background: url('./images/slider__arrow-bg.jpg');
    z-index: -1;
    transition: all 0.2s ease !important;
    border: none !important;
}



.arrow-border-p {
    position: absolute;
    left: -11px;
    border: var(--border) !important;
    width: 89px !important;
    height: 50px !important;
}

.arrow-border-n {
    position: absolute;
    left: -9px;
    border: var(--border) !important;
    width: 90px !important;
    height: 50px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 24px !important;
    font-weight: 700 !important;
    border-radius: 0 !important;

}

.arrow-swiper {
    position: absolute;
    pointer-events: none;
}


.our-product {
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
    margin-bottom: 80px;
}

.our-product__title {
    padding-top: 40px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family-accent);
    font-size: 50px;
    margin-bottom: 46px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-black);
    line-height: 1;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product__item {
    position: relative;
}

.product__link:hover {
    box-shadow: 0 4px 12px rgba(1, 1, 3, 0.25);
}

.product__link-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: 30px;
    text-align: center;
    bottom: 27px;
    left: 50%;
    transform: translate(-50%, -10%);
    line-height: 1.2;
}


.swiper-wrapper {
    padding-bottom: 40px;
}

.best-sellers {
    position: relative;
    margin-bottom: 80px;
}

.best-sellers-title {
    padding-top: 80px;
}

.best-sellers-bg {
    position: absolute;
    width: 100%;
    height: 959px;
    object-fit: cover;
    z-index: -1;
}


.swiper-slide.best-sellers__swiper-slide {
    position: relative;
    display: flex;
    gap: 30px;
    overflow: hidden;
    max-width: 100%;
    height: 567px;
    padding-left: var(--container-padding-x) !important;
    padding-right: var(--container-padding-x) !important;
}

.swiper-pagination.best {
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    bottom: 0px !important;
    margin-left: -260px;
}

.best-sellers__card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.sellers__product-link {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: var(--color-black);
}

.product__descr-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
}

.product__link-name {
    font-size: 20px;
    max-width: 250px;
    line-height: 1.1;
}

.product__link-price {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.sellers__product-link img:hover {
    transition: all 0.2s ease;
    box-shadow: 0 4px 12px rgba(1, 1, 3, 0.25);
}

.best-sellers-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    border: 0px;
    border-radius: 0px;
    width: 327px;
    height: 50px;
    font-family: var(--font-family-base);
    font-size: 18px;
    font-weight: 700;
    background: url('./images/color-button.jpg');
    padding: 16px 0 16px;
    box-shadow: 0 3px 4px rgba(5, 4, 8, 0.5);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.button:hover {
    opacity: 0.8;
}

.arrow-swiper {
    fill: var(--color-darck);
}

.swiper-arrow.sellers-button-prev .arrow-border-p,
.swiper-arrow.sellers-button-next .arrow-border-n {
    background: url('./images/slider__arrow-bg.jpg');
    z-index: -1;
    transition: all 0.2s ease !important;
    border: none !important;
}

.card-favorite {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-light);
    width: 50px;
    height: 63px;
}

.card-favorite::after {
    content: '';
    display: block;
    margin: 17px 10px;
    width: 30px;
    height: 30px;
    background: url(./images/icons/cooper__favorite-icon.svg) center/contain no-repeat;
}

.card-favorite:hover::after {
    content: '';
    display: block;
    margin: 17px 10px;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    background: url('./images/icons/cooper__favorite-icon-hover.svg') center/contain no-repeat;
}

.card-favorite.active::after {
    content: '';
    display: block;
    margin: 17px 10px;
    width: 30px;
    height: 30px;
    background: url('./images/icons/cooper__favorite-icon-hover.svg') center/contain no-repeat;
}

.card-sale {
    position: absolute;
    top: 27px;
    left: 0;
    background-color: var(--color-red);
    width: 84px;
    height: 36px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-light);
    padding: 9px 16px;
}

.product__link-price.price-red {
    color: var(--color-red);
    position: relative;
}

.product__link-price.price-red span {
    position: absolute;
    top: -20px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
    color: gray;
    line-height: 1;
    font-weight: 400;
    margin-top: -10px;
    padding-top: 15px;
}

.product__link-price.price-red span::before {
    content: '';
    margin-bottom: -10px;
    transform: rotate(6deg);
    width: 95px;
    height: 2px;
    background-color: gray;
}

.good-offer {
    position: relative;
    height: 483px;
    overflow: hidden;
    margin-bottom: 80px;
}

.good-offer__images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.cooper-offer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.good-offer__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 50px;
    padding-left: var(--container-padding-x);
}

.good-offer__body-conditions {
    font-family: var(--font-family-accent);
    font-size: 140px;
    font-weight: 400;
    line-height: 1;
}

.offer__body-title {
    width: 580px;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-light);
}

.our-reviews {
    margin-bottom: 80px;
}

.swiper-slide.our-reviews__swiper-slide {
    position: relative;
    display: flex;
    gap: 30px;
    overflow: hidden;
    max-width: 100%;
    height: 360px;
    padding-left: var(--container-padding-x) !important;
    padding-right: var(--container-padding-x) !important;
}

.our-reviews-title title {
    margin-bottom: 40px;
}

.our-reviews__card {
    position: relative;
    width: 446px;
    height: 332px;
    box-shadow: 0 4px 12px rgba(1, 1, 3, 0.15);
}

.our-reviews__card-photo {
    position: absolute;
    top: 20px;
    left: 30px;
}

.our-reviews__card-bg {
    position: absolute;
    top: 0;
    right: 0;
}

.reviews__descr-body {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding-top: 100px;
    max-width: 376px;
    color: black;
    padding-left: 30px;
}

.reviews__link-name {
    font-size: 25px;
    line-height: 1;
}

.reviews__link-descr {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;
}

.reviews__link-date {
    font-size: 14px;
    font-weight: 700;
}


.our-advantages {
    position: relative;
    z-index: 1;
}

.our-advantages-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.our-advantages-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.our-advantages__title {
    padding-top: 80px;
}

.our-advantages__body {
    display: flex;
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.our-advantages__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.our-advantages__item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.advantages-img {
    margin-bottom: 24px;
}

.advantages__item-body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.advantages__item-body-title {
    color: var(--color-darck);
    font-size: 20px;
    font-weight: 700;
}

.advantages__item-body-description {
    font-size: 14px;
    font-weight: 300;
    max-width: 327px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}

.item-body-description-more {
    color: var(--color-accent);
    font-size: 14px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.item-body-description-more span {
    position: absolute;
    top: 7px;
    left: 117px;
}

.footer__main {
    position: relative;
    z-index: 1;
}

.footer__main-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.footer__main-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.footer__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
    padding-top: 80px;
}

.footer-extra {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    font-size: 14px;
    font-weight: 300;
}

.footer-copyright {
    margin-bottom: 20px;
    color: #ADADAD;
}

.footer-copyright-2 a {
    color: var(--color-light);
}

.copiright-underline {
    text-decoration: underline;
}

.footer__body {
    display: flex;
    gap: 70px;
    margin-bottom: 55px;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 140px;
}

.footer__nav-item {
    margin-bottom: 15px;
}

.footer__catalog {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__catalog-item {
    margin-bottom: 15px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__address {
    color: var(--color-light);
}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 15px;
}


.footer__soc1als-list {
    display: flex;
    gap: 18px;
}

.footer__lift {
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 127px;
}

.footer-lift-up {
    margin-bottom: -10px;
}

.footer-lift-bg {
    position: relative;
}

.footer-lift-text {
    position: absolute;
    top: 45px;
    left: -8px;
    font-size: 18px;
    font-weight: 700;
    transform: rotate(90deg);
    text-transform: uppercase;
}






















@media (max-width: 1800px) {

    .product__descr-body {
        gap: 25px;
    }
}

@media (max-width: 1600px) {

    .swiper-pagination.best {
        margin-left: -100px;
    }
}

@media (max-width: 1400px) {

    .container-logo-nav {
        gap: 30px;
    }

    .our-reviews__card.card-3 {
        display: none;
    }
}

@media (max-width: 1300px) {

    .container-logo-nav {
        gap: 30px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .our-advantages__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media (max-width: 1200px) {

    .header__logo-img {
        margin-top: -4px;
    }

    .swiper-pagination.best {
        margin-left: -50px;
    }

    .best-sellers__card.card-3 {
        display: none;
    }
}

@media (max-width: 1100px) {
    .header .container {
        padding-top: 20px;
    }

    .header__logo-img {
        margin-top: 0;
    }

    .container-logo-nav {
        display: flex;
        flex-direction: column;
        column-gap: 50px;
    }
}

@media (max-width: 1000px) {
    .swiper-pagination.best {
        margin-left: -20px;
    }

    .product__link-text {
        font-size: 20px;
        width: 185px;
    }


}

@media (max-width: 768px) {

    .slider__body {
        gap: 30px;
        top: 300px;
    }

    .slider-bottom-line {
        width: 388px;
        margin-bottom: 0;
    }

    .slider__big-text {
        font-size: 60px;
    }

    .slider__title {
        font-size: 30px;
        max-width: 357px;
        line-height: 1.3;
    }

    .slider__price-body {
        font-size: 24px;
        gap: 75px;
    }


    .slider__button {
        max-width: 244px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .product__list {
        gap: 15px;
    }

    .product__link {
        font-size: 20px;
    }

    .product__descr-body {
        gap: 8px;
    }

    .swiper-slide.best-sellers__swiper-slide {
        gap: 15px;
    }

    .swiper-wrapper {
        padding-bottom: 30px;
    }

    .product__link-price {
        font-size: 20px;
    }

    .product__link-price.price-red span {
        font-size: 15px;
        padding-top: 18px;
    }

    .product__link-price.price-red span::before {
        content: '';
        width: 70px;
        height: 1px;
        margin-bottom: -7px;
    }

    .good-offer__body {
        row-gap: 40px;
    }

    .good-offer__body-conditions {
        font-size: 100px;
    }

    .offer__body-title {
        width: 330px;
        font-size: 20px;
    }

    .swiper-slide.our-reviews__swiper-slide {
        height: 380px;
        gap: 15px;
    }

    .our-reviews__card {
        height: 370px;
    }

    .reviews__descr-body {
        row-gap: 8px;
    }

    .our-advantages__list {
        gap: 30px;
    }
}


@media (max-width: 620px) {

    .header .container {
        padding-top: 30px;
    }

    .header__logo-img {
        width: 115px;
        height: 31px;
    }

    .header__interaction-list {
        padding-right: 70px;
    }

    .header__interaction-item {
        padding: 30px 7px 9px 7px;
    }

    .item-apear {
        display: none;
    }

    .header__interaction-img {
        width: 20px;
        aspect-ratio: 1;
    }

    .burger-area {
        display: flex;
    }

    .header__menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 377px;
        height: 858px;
        z-index: 5;
        padding: 50px 40px;
        top: 0;
        left: 0;
        overflow-y: auto;
        background: url('./images/burger__menu-bg.jpg') center/contain no-repeat;
        transform: translateX(-100%);
    }

    .header__menu-list {
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
        max-width: 140px;
    }

    .header__menu-item {
        font-size: 30px;
    }

    .our-product__title {
        padding-top: 20px;
    }

    .our-product {
        margin-bottom: 40px;
    }

    .product__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__link-text {
        font-size: 16px;
        width: 160px;
    }

    .best-sellers-bg {
        height: 840px;
    }

    .best-sellers__card.card-2,
    .best-sellers__card.card-3 {
        display: none;
    }

    .best-sellers {
        margin-bottom: 40px;
    }

    .best-sellers-title {
        padding-top: 40px;
    }

    .good-offer {
        margin-bottom: 40px;
    }

    .our-reviews {
        margin-bottom: 40px;
    }

    .swiper-slide.our-reviews__swiper-slide {
        height: 410px;
    }

    .our-reviews__card {
        height: 400px;
    }

    .our-reviews__card.card-2 {
        display: none;
    }

    .reviews__descr-body {
        row-gap: 18px;
    }

    .our-advantages__title {
        padding-top: 40px;
    }

    .our-advantages__body {
        padding-bottom: 40px;
    }

    .our-advantages__list {
        gap: 20px;
    }

    .advantages-img {
        margin-bottom: 20px;
    }

    .advantages__item-body {
        row-gap: 10px;
    }

    .advantages__item-body-title {
        font-size: 16px;
    }

    .advantages__item-body-description {
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 420px) {

    .slider__body {
        top: 200px;
        gap: 20px;
    }

    .slider__big-text {
        font-size: 30px;
    }

    .slider__title {
        font-size: 20px;
        max-width: 190px;
    }

    .slider-bottom-line {
        max-width: 199px;
        height: 2px;
    }

    .slider__price-body {
        font-size: 16px;
        gap: 50px;
        margin-top: -5px;
        margin-bottom: 40px;
    }

    .slider__button {
        max-width: 155px;
    }

    .product__link-text {
        width: 120px;
        font-size: 12px;
        bottom: 15px;
    }

    .good-offer__body {
        row-gap: 20px;
    }

    .good-offer__body-conditions {
        font-size: 60px;
    }

    .offer__body-title {
        width: 250px;
        font-size: 14px;
    }

    .offer__button {
        width: 290px;
    }
}